<div class="container">
    <div class="row">
		<div class="col-md-4">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="media-object" src="{{ STATIC_URL }}user.jpg">
                    </a>
                    <div class="media-body">
                        <h4 id="nm" class="media-heading"></h4>
                               <div id="list">
                		</div>
                        <p>
                            <a href="#" ><span id="total" class="label label-warning"></span></p></a>
                            <br><span id="bio" class="label label-warning"></span></p>
                            <button ><span id="fl"></span></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
