{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
 
  <title>Zwitter|Timeline</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-min.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/validate.js"></script>

 <script type="text/javascript">
  $(document).ready(function(){
    function clearForm()
    {
    $(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
    $(':checkbox, :radio').prop('checked', false);
    }
  
    $('#tweetform').validate({
      rules:{
            tweet: {
                minlength: 1,
                maxlength: 160,
                required: true
            }},
	highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        submitHandler: function(form) {

		$("#tweet_result").html("")
		val = {'tweet':$('#tweet').val()}
	        console.log(val)
        //Ajax trigger to our backend to process tweet
         $.ajax({
          type: "POST",
            url: "/tweet_post/",
            data:val,
            success: function(html){
                  console.log(html)
                  if (html.result=="failed"){
                     $("#tweet_result").html("<font color='red'>"+html.message+"</font>")
                  }
                  else{
                     $("#tweet_result").html("<font color='green'>"+html.message+"</font>")
                        }
            }
         })
	return false;
         },
         errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        } 
       })

 

  })
 </script>
</head>
<body>
<div class="container">
		<div class="row">
		<div class="span4 well" style="padding-bottom:0">
            <form accept-charset="UTF-8" action="" method="POST">
                <textarea class="span4" id="new_message" name="new_message"
                placeholder="Type in your message" rows="5"></textarea>
                <h6 class="pull-left">160 characters allowed</h6>
                <br><button class="btn btn-info" value="tweet" type="submit">Post New Message</button>
                <span id= "result_login" style="margin-left:8px;"></span>  
            </form>
        </div>
	</div>
</div>

</body>
</html>
