<div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="">Home</a></li>
                  <li id="hang"><a href="#">HangUp</a></li>
		  <li id="share"><a href="#">Share</a></li>
		  <li id="name"><a href="#"></a></li>
				  
                  </ul>
                <p class="navbar-text pull-right"id ="nav_room"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of the Navbar -->

