{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
 
  <title>Zwitter|followers</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){

 $.ajax({
            type: "POST",
            url: "/list?get=followers&handle="+document.URL.split('/')[3],
            success: function(html){
                  console.log(html)
                 //alert(0 in html)
                  if(0 in html)
                   $("#not").html('')
                  for (a in html){
 if(a!='userDetails'){
    str = '<li><div class="listrap-toggle"><span></span><img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle"/></div>'
    str+='<strong>'+html[a].name+' (<u>'+html[a].handle+'</u>)</strong></li>'
  
  $('#list').append(str)
 }
}
        $('#followers').append(html['userDetails'].followers+" followers")
        $('#following').append(html['userDetails'].following+" following")
        $('#nm').append(html['userDetails'].name)
        $('#bio').append(html['userDetails'].about)
        $('#total').append(html['userDetails'].count+" tweets")
        if (html['userDetails'].fl_u==true)
          $('#fl').append("UnFollow")
        else
         $('#fl').append("Follow")
   
                } 
         })
})

</script>
<body>

      {% include "fixed_navbar.html" %} 
<div class="container">
     {% include "about.html" %}
	
	<div class="row">
       <div id ="not">No one here :/</div>
	<ul id="list" class="listrap">
        </ul>
	</div>
</div>
</body>
