{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
 
  <title>Zwitter|following</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){

 $.ajax({
            type: "POST",
            url: "/list/?get=following&handle="+document.URL.split('/')[3],
            success: function(html){
                  console.log(html)
        $("#list").append('<a href="/'+html['userDetails'].handle+'/followers/"><p><span id="followers" class="label label-info"></span> </a><a href="/'+html['userDetails'].handle+'/following/"><span id="following" class="label label-warning"></span></a></p>')
        $('#followers').append(html['userDetails'].followers+" followers")
        $('#following').append(html['userDetails'].following+" following")
        $('#nm').append(html['userDetails'].name+ " (<u>"+html['userDetails'].handle+"</u>)")
        $('#bio').append(html['userDetails'].about)
        $('#total').append(html['userDetails'].count+" tweets")
        if (html['userDetails'].fl_u==true&&html['userDetails'].cr==true)
          $('#fl').append("UnFollow")
        else if(html['userDetails'].cr==false)
         $('#fl').append("Follow")
                 //alert(0 in html)
                  if(0 in html)
                   $("#not").html('users you are Following,Click on name to go to their profile')
                  for (a in html){
 if(a!='userDetails'){
    str = '<a href="/user/'+html[a].handle+'/"> <li><div class="listrap-toggle"><span></span><img src="{{ STATIC_URL }}user.jpg" class="img-circle"'
    str+='</div><strong>'+html[a].name+'</strong></li></a>'
   $('#fll').append(str)
 }
}
} 
         })
})

</script>
<body>

      {% include "fixed_navbar.html" %} 
<div class="container">
     {% include "about.html" %}
	
	<div class="row">
        <div id ="not">No one here :/</div>
	<ul id="fll" class="listrap">
        </ul>
	</div>
</div>
</body>
