<div class="container">
	<div class="row">
		<ul class="listrap">
            <li>
                <div class="listrap-toggle">
                    <span></span>
                    <img src="http://lorempixel.com/60/60/people/?v=1" class="img-circle" />
                </div>
                <strong>My Lorem Option #1</strong>
            </li>
            <li class="active">
                <div class="listrap-toggle">
                    <span></span>
                    <img src="http://lorempixel.com/60/60/people/?v=2" class="img-circle" />
                </div>
                <strong>Your Ipsum Option #2</strong>
            </li>
            <li class="active">
                <div class="listrap-toggle">
                    <span></span>
                    <img src="http://lorempixel.com/60/60/people/?v=3" class="img-circle" />
                </div>
                <strong>Their Consectuer Option #3</strong>
            </li>
            <li>
                <div class="listrap-toggle">
                    <span></span>
                    <img src="http://lorempixel.com/60/60/people/?v=4" class="img-circle" />
                </div>
                <strong>His Adjascent Option #4</strong>
            </li>
            <li class="active">
                <div class="listrap-toggle">
                    <span></span>
                    <img src="http://lorempixel.com/60/60/people/?v=5" class="img-circle" />
                </div>
                <strong>Her Split Option #5</strong>
            </li>
        </ul>
	</div>
</div>
