{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
 
  <title>Zwitter|Login</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){

 $.ajax({
          type: "POST",
            url: "/timeline_tweets/",
            success: function(html){
                  console.log(html)
                 //alert(0 in html)
                  if(0 in html)
                   $("#not").html('')
                  for (a in html){
 if(a!='userDetails'){

  $('#tl').append('<article class="timeline-entry"><div class="timeline-entry-inner"><div class="timeline-icon bg-success"><i class="entypo-feather"></i></div><div class="timeline-label"><h2><a href="/user/'+html[a].handle+'">'+html[a].name +'(<u>'+html[a].handle+'</u>)</a> <span>'+html[a].time+'</h2><p>'+html[a].msg+'</p></div></div></article>')
 }
}
  } 
         })


})
</script>

<body>

      {% include "fixed_navbar.html" %} 
 <div class="container">


     {% include "tweet_box.html" %}
	<div class="container">
	<div class="row">
         <div id ="not">No Tweets</div>
        <div id = "tl" class="timeline-centered">
       
              

    </div>

    
	</div>
</div>
</body>
