<script type="text/javascript">
  $(document).ready(function(){
    function clearForm()
    {
    $(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
    $(':checkbox, :radio').prop('checked', false);
    }
  
    $('#tweetform').validate({
      rules:{
            tweet: {
                minlength: 1,
                maxlength: 160,
                required: true
            }},
	highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        submitHandler: function(form) {

		$("#tweet_result").html("")
		val = {'tweet':$('#tweet').val()}
	        console.log(val)
        //Ajax trigger to our backend to process tweet
         $.ajax({
          type: "POST",
            url: "/tweet_post/",
            data:val,
            success: function(html){
                  console.log(html)
                  if (html.result=="failed"){
                     $("#tweet_result").html("<font color='red'>"+html.message+"</font>")
                  }
                  else{
                     $("#tweet_result").html("<font color='green'>"+html.message+"</font>")
                        }
            }
         })
	return false;
         },
         errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        } 
       })

 

  })
 </script>
<div class="container">
	<div class="row">
		<div class="span4 well" style="padding-bottom:0">
            <form accept-charset="UTF-8" id="tweetform" action="" method="POST">
                <textarea  class="span10" id="tweet" name="tweet"
                placeholder="Type in your message" rows="3" columns="20"></textarea>
                160 characters allowed
                <br><button class="btn btn-info" value="tweet" type="submit">Tweet</button>
                <span id= "tweet_result" style="margin-left:8px;"></span>  
            </form>
        </div>
	</div>
</div>
