{% load static from staticfiles %}
<!DOCTYPE HTML>
<head>
 
  <title>Zwitter|Login</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/validate.js"></script>
<script type="text/javascript">
$(document).ready(function(){

 $.ajax({
            type: "POST",
            data:{'user':document.URL.split('/')[4]},
            url: "/other_user/",
            success: function(html){
                  console.log(html)
                 //alert(0 in html)
                  if(0 in html)
                   $("#not").html('')
                  for (a in html){
 if(a!='userDetails'){

  $('#tl').append('<article class="timeline-entry"><div class="timeline-entry-inner"><div class="timeline-icon bg-success"><i class="entypo-feather"></i></div><div class="timeline-label"><h2><a href="/profile">'+html[a].name+' </a> <span>'+html[a].time+'</h2><p>'+html[a].msg+'</p></div></div></article>')
 }
}               $("#list").append('<a href="/'+html['userDetails'].handle+'/followers/"><p><span id="followers" class="label label-info"></span> </a><a href="/'+html['userDetails'].handle+'/following/"><span id="following" class="label label-warning"></span></a></p>')
        $('#followers').append(html['userDetails'].followers+" followers")
        $('#following').append(html['userDetails'].following+" following")
        $('#nm').append(html['userDetails'].name)
        $('#bio').append(html['userDetails'].about)
        $('#total').append(html['userDetails'].count+" tweets")
        if (html['userDetails'].fl_u==true)
          $('#fl').append("UnFollow")
        else
         $('#fl').append("Follow")
   
                } 
         })
})

</script>
<body>

      {% include "fixed_navbar.html" %} 
<div class="container">
     {% include "about.html" %}
	<div class="row">
         <div id ="not">No Tweets</div>
        <div id = "tl" class="timeline-centered">
        </div>

    
	</div>
</div>
</body>
